$main-color = #ff0654


.container
  width: 900px
  margin 40px auto 100px


.title
  margin-bottom: 25px
  font-size: 36px
  a
    color $main-color !important


.cards
  margin -10px -10px 0
  font-size: 0

.cardContainer
  width: 50%
  display-inline-block()

.card
  background-color: #fff
  margin: 20px 10px 0
  overflow: hidden
  text-decoration: none !important
  color #000 !important

.cardPreview
  display: block
  background-color: #e6f2f9
  background-size cover
  background-position: center
  background-repeat: no-repeat
  padding-bottom: 55%
  overflow: hidden
  border-radius 3px
  &:hover
  	box-shadow #b400ff 0 0 0 1px

.cardContent
  padding 15px 0 15px 10px

.cardAuthorAvatar
  display: block
  margin-right: 12px

.cardTitle
  display: block
  margin-bottom: 6px
  position: relative
  text-decoration: none !important
  font-size: 22px
  color #000 !important
  &:hover
  	color $main-color !important

.cardAuthorNameContainer
  font-size: 14px

.cardAuthorName
  text-decoration: none !important
  font-weight: 600
