.container
  width: 900px
  margin 40px auto 100px


.cards
  margin -10px -10px 0
  font-size: 0

.cardContainer
  width: 50%
  display-inline-block()

.card
  display: block
  background-color: #fff
  margin: 20px 10px 0
  overflow: hidden
  text-decoration: none !important
  color #000 !important
  transition all 0.08s linear
  &:hover
    transform scale(1.008)

.cardPreview
  background-color: #e6f2f9
  background-size cover
  background-position: center
  background-repeat: no-repeat
  padding-bottom: 55%
  overflow: hidden
  border-radius top 3px

.cardContent
  border 1px solid #cedbe2
  border-top 0
  padding 15px
  border-radius bottom 3px

.cardTitle
  margin-bottom: 10px
  font-size: 24px

.cardDesc
  font-size: 14px
