$color_dark-red         = #B52D2D
$color_red              = #ce4c4c

$color_orange2          = #e38424
$color_orange1          = #ee7b25
$color_yellow           = #fabf18

$color_green            = #7FBD47
$color_ocean            = #1fcd54
  
$color_light-blue       = #5BB8E6
$color_clear-blue       = #489FFF
$color_blue             = #0087DA
$color_blue_darken      = #0070B5
$color_dark-blue        = #035392

$color_white            = #ffffff

$color_black            = #000000
