$pfd-in-text-cond-pro-font-path = './fonts/pfd-in-text-cond-pro/PFDinTextCondPro-Regular'
$pfd-in-text-cond-pro-thin-font-path = './fonts/pfd-in-text-cond-pro/PFDinTextCondPro-Thin'


@font-face {
  font-family: 'PFDinTextCondPro-Regular';
  src: url($pfd-in-text-cond-pro-font-path + '.eot');
  src: url($pfd-in-text-cond-pro-font-path + '.eot?#iefix') format('embedded-opentype'),
      url($pfd-in-text-cond-pro-font-path + '.woff') format('woff'),
      url($pfd-in-text-cond-pro-font-path + '.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinTextCondPro-Thin';
  src: url($pfd-in-text-cond-pro-thin-font-path + '.eot');
  src: url($pfd-in-text-cond-pro-thin-font-path + '.eot?#iefix') format('embedded-opentype'),
      url($pfd-in-text-cond-pro-thin-font-path + '.woff') format('woff'),
      url($pfd-in-text-cond-pro-thin-font-path + '.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.content
  width: 1100px
  padding 50px 0 100px
  margin 0 auto
  font-family: 'PFDinTextCondPro-Regular'
