.container
  width: 900px
  margin 40px auto 100px


.cards
  margin -15px -15px 0
  font-size: 0

.cardContainer
  width: 50%
  display-inline-block()

.card
  display: block
  padding 15px 15px 0
  margin 15px 0 0 15px
  color #fff
  border-radius 3px
  box-shadow rgba(#000, 0.08) 0 2px

.avatar
  margin-right: 10px
  box-shadow rgba(#000, 0.08) 0 1px

.cardAuthorName
  margin-bottom: 4px
  font-weight: 600
  font-size: 15px

.cardSpeechCount
  font-size: 13px

.cardCost
  height: 38px
  line-height: 38px
  border 1px solid rgba(#fff, 0.6)
  padding 0 18px
  cursor: pointer
  font-size: 17px
  color rgba(#fff, 0.75)
  border-radius 20px
  no-select()
  &:hover
    border-color #fff
    color #fff

.cardContent
  padding 25px 0 20px

.cardTitle
  padding-bottom: 10px
  margin-bottom: 14px
  border-bottom: 1px solid rgba(#fff, 0.2)
  font-weight: 600
  font-size: 22px

.cardDesc
  font-size: 13px

.cardFooter
  background-color: rgba(#fff, 0.15)
  margin 0 -15px
  padding 10px 15px

.status
  height: 24px
  line-height: 24px
  background-color: rgba(#fff, 0.15)
  padding 0 12px
  cursor: default
  text-transform: uppercase
  font-weight: 600
  font-size: 13px
  border-radius 3px
  no-select()

.statsContainer
  line-height: 24px
  margin-right: -15px

.stats
  margin 0 15px
  cursor: default
  font-size: 16px
  no-select()
  :global(.fa)
    margin-left: 10px

.statsPipe
  width: 1px
  height: 100%
  background-color: rgba(#fff, 0.2)
