.link
  color: $color_blue_darken
  text-decoration: none
  vertical-align top
  cursor: pointer
  &:visited
    color: $color_blue_darken
  &:hover
    text-decoration: underline
    color: $color_blue
