.container
  height: 60px
  background-color: #00001f
  padding 10px 0

.center
  width: 1100px
  margin 0 auto
  font-size: 20px
  color #fff

.logo
  margin-top: 4px
  text-transform: uppercase
  letter-spacing 2px
  cursor: default
  font-weight: 600
  font-size: 26px
  color #ff1451
  no-select()

.pipe
  width: 1px
  height: 24px
  background-color: #343463
  margin 8px 50px

.deposite
  margin-top: 4px
  cursor: pointer
  text-transform: uppercase
  font-size: 18px
  &:hover
    color #ff1451

.balance
  margin-top: 4px
  font-size: 18px

.userName
  font-size: 18px

.logoutLink
  cursor: pointer
  text-align: right
  font-size: 15px
  color #ff1451
  &:hover
    color: darken(#ff1451, 15%)

.avatar
  margin-left: 15px
